@import 'bootstrap/scss/bootstrap';

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.75em;
}

body {
	background-color: $gray-900;
	color: $gray-200;
}

.container {
	// display: flex;
	// flex-direction: row;
	// justify-content: center;

	.login-form {
		display: flex;
		flex-direction: column;
		max-width: 200px;
		width: 100%;
	}
}

.small-text {
	font-size: 0.85rem;
}
